{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<section class="bg-gray-100 h-screen p-8">
    <h1 class="text-3xl font-bold text-gray-800 py-6 gap-6">Produits et Services</h1>
    
</section>
{% endblock %}
